## Data Preprocessing

#### Import Libraries

In [2]:
import pandas as pd
import numpy as np

#### Load Dataset

In [3]:
df = pd.read_csv("/Users/hpourmand/Desktop/Retail/Superstore Sales Dataset.csv")

#### Convert Date Columns to DateTime Format

In [5]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='mixed', dayfirst=True, errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='mixed', dayfirst=True, errors='coerce')

#### Handle Missing Values in 'Postal Code' Column

In [7]:
df['Postal Code'].fillna('Unknown', inplace=True)
df['Postal Code'].isnull().sum()

0

#### Feature Engineering with Dates

In [8]:
df['Order Year'] = df['Order Date'].dt.year
df['Order Month'] = df['Order Date'].dt.month
df['Order Day'] = df['Order Date'].dt.day
df['Order Weekday'] = df['Order Date'].dt.weekday

#### Calculate Order Fulfillment Time (in days) for order fulfillment analysis

In [9]:
df['Fulfillment Time (Days)'] = (df['Ship Date'] - df['Order Date']).dt.days

#### Encoding Categorical Variables

In [10]:
df = pd.get_dummies(df, columns=['Ship Mode', 'Segment', 'Region'], drop_first=True)

#### Aggregate Sales Data by Different Time Frames (for Time Series Analysis)

In [12]:
monthly_sales = df.resample('M', on='Order Date')['Sales'].sum().reset_index()
monthly_sales

/var/folders/z8/rs29j2g93hb0w4pdz9_5pl400000gn/T/ipykernel_2155/1255354998.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_sales = df.resample('M', on='Order Date')['Sales'].sum().reset_index()

   Order Date        Sales
0  2015-01-31   14205.7070
1  2015-02-28    4519.8920
2  2015-03-31   55205.7970
3  2015-04-30   27906.8550
4  2015-05-31   23644.3030
5  2015-06-30   34322.9356
6  2015-07-31   33781.5430
7  2015-08-31   27117.5365
8  2015-09-30   81623.5268
9  2015-10-31   31453.3930
10 2015-11-30   77907.6607
11 2015-12-31   68167.0585
12 2016-01-31   18066.9576
13 2016-02-29   11951.4110
14 2016-03-31   32339.3184
15 2016-04-30   34154.4685
16 2016-05-31   29959.5305
17 2016-06-30   23599.3740
18 2016-07-31   28608.2590
19 2016-08-31   36818.3422
20 2016-09-30   63133.6060
21 2016-10-31   31011.7375
22 2016-11-30   75249.3995
23 2016-12-31   74543.6012
24 2017-01-31   18542.4910
25 2017-02-28   22978.8150
26 2017-03-31   51165.0590
27 2017-04-30   38679.7670
28 2017-05-31   56656.9080
29 2017-06-30   39724.4860
30 2017-07-31   38320.7830
31 2017-08-31   30542.2003
32 2017-09-30   69193.3909
33 2017-10-31   59583.0330
34 2017-11-30   79066.4958
35 2017-12-31   95739.1210
36 2018-01-31   43476.4740
37 2018-02-28   19920.9974
38 2018-03-31   58863.4128
39 2018-04-30   35541.9101
40 2018-05-31   43825.9822
41 2018-06-30   48190.7277
42 2018-07-31   44825.1040
43 2018-08-31   62837.8480
44 2018-09-30   86152.8880
45 2018-10-31   77448.1312
46 2018-11-30  117938.1550
47 2018-12-31   83030.3888

#### Customer Segmentation - RFM Features

##### Recency: Days since last purchase, Frequency: Total orders per customer, Monetary: Total spending per customer

In [14]:
rfm = df.groupby('Customer ID').agg({
    'Order Date': lambda x: (df['Order Date'].max() - x.max()).days,
    'Order ID': 'nunique',  # Frequency
    'Sales': 'sum'          # Monetary
}).reset_index()

# Rename columns for RFM
rfm.columns = ['Customer ID', 'Recency', 'Frequency', 'Monetary']

#### Create Product-Level Aggregates (for Product Recommendation or Inventory)

In [15]:
product_agg = df.groupby(['Product ID', 'Product Name']).agg({
    'Sales': 'sum',
    'Order ID': 'count'  # Assuming each order line represents one unit sold
}).reset_index()

# Rename columns for clarity
product_agg.columns = ['Product ID', 'Product Name', 'Total Sales', 'Total Units Sold']

#### Create Additional Time-Based Features for Forecasting

In [17]:
df['Is_Holiday_Season'] = df['Order Month'].apply(lambda x: 1 if x in [11, 12] else 0)  # Mark November and December as holiday season

In [18]:
print("Preprocessed DataFrame:\n", df.head())
print("\nMonthly Sales Data:\n", monthly_sales.head())
print("\nCustomer RFM Data:\n", rfm.head())
print("\nProduct Aggregates:\n", product_agg.head())

Preprocessed DataFrame:
    Row ID        Order ID Order Date  Ship Date Customer ID    Customer Name  \
0       1  CA-2017-152156 2017-11-08 2017-11-11    CG-12520      Claire Gute
1       2  CA-2017-152156 2017-11-08 2017-11-11    CG-12520      Claire Gute
2       3  CA-2017-138688 2017-06-12 2017-06-16    DV-13045  Darrin Van Huff
3       4  US-2016-108966 2016-10-11 2016-10-18    SO-20335   Sean O'Donnell
4       5  US-2016-108966 2016-10-11 2016-10-18    SO-20335   Sean O'Donnell

         Country             City       State Postal Code  ...  \
0  United States        Henderson    Kentucky     42420.0  ...
1  United States        Henderson    Kentucky     42420.0  ...
2  United States      Los Angeles  California     90036.0  ...
3  United States  Fort Lauderdale     Florida     33311.0  ...
4  United States  Fort Lauderdale     Florida     33311.0  ...

  Fulfillment Time (Days) Ship Mode_Same Day Ship Mode_Second Class  \
0                       3              False                   True
1                       3              False                   True
2                       4              False                   True
3                       7              False                  False
4                       7              False                  False

  Ship Mode_Standard Class  Segment_Corporate  Segment_Home Office  \
0                    False              False                False
1                    False              False                False
2                    False               True                False
3                     True              False                False
4                     True              False                False

   Region_East  Region_South  Region_West  Is_Holiday_Season
0        False          True        False                  1
1        False          True        False                  1
2        False         False         True                  0
3        False          True        False                  0
4        False          True        False                  0

[5 rows x 29 columns]

Monthly Sales Data:
   Order Date      Sales
0 2015-01-31  14205.707
1 2015-02-28   4519.892
2 2015-03-31  55205.797
3 2015-04-30  27906.855
4 2015-05-31  23644.303

Customer RFM Data:
   Customer ID  Recency  Frequency  Monetary
0    AA-10315      184          5  5563.560
1    AA-10375       19          9  1056.390
2    AA-10480      259          4  1790.512
3    AA-10645       55          6  5086.935
4    AB-10015      415          3   886.156

Product Aggregates:
         Product ID                                       Product Name  \
0  FUR-BO-10000112   Bush Birmingham Collection Bookcase, Dark Cherry
1  FUR-BO-10000330  Sauder Camden County Barrister Bookcase, Plank...
2  FUR-BO-10000362                 Sauder Inglewood Library Bookcases
3  FUR-BO-10000468            O'Sullivan 2-Shelf Heavy-Duty Bookcases
4  FUR-BO-10000711                          Hon Metal Bookcases, Gray

   Total Sales  Total Units Sold
0      825.174                 1
1     1064.624                 3
2     2154.348                 5
3      723.842                 6
4      851.760                 2

#### Save cleaned DataFrame to CSV

In [20]:
output_path = '/Users/hpourmand/Desktop/Retail/PreparedDataset.csv'
df.to_csv(output_path, index=False)